.weekForecast {
  height: 100%;
  padding: 15px 0;
}
.weekForecastItem {
  width: 20%;
  display: inline-block;
  text-align: center;
  height: 100%;
  position: relative;
  border-right: 1px solid #3b4b58;
}
.weekForecastItem:nth-child(5){
  border-right: none;
}
.date, .icon, .min, .max {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
}
.date {
  font-size: 14px;
  font-weight: 500;
  color: #9b9b9b;
  position: absolute;
  top: 0;
}
.icon {
  position: absolute;
  top: 25%;
}
.max{
  font-size: 16px;
  font-weight: 700;
  color: #3b4b58;
  position: absolute;
  top: 60%;
}
.min {
  color: #3b4b58;
  font-size: 13px;
  bottom: 0;
  position: absolute;
  font-weight: 100;
}
.icon img {
    margin-top: -15%;
}